


@font-face {
   font-family: "LSDisplay";
	
	src:url('../fonts/LSDisplay-Regular.woff2') format('woff2'),
		url('../fonts/LSDisplay-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
   font-family: "LSDisplay-variable";
	
	src:url('../fonts/LSDisplay-Variable.woff2') format('woff2'),
		url('../fonts/LSDisplay-Variable.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}